In [47]:
#API imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Step1: Download .csv and Github repo
(yeah, done that)

# Step 2: Data Exploration
1. Load data set
---

In [48]:
#read file
df = pd.read_csv("team11_transport.csv") #this process changes when using collab
df.head()

,trip_id,date,route,vehicle_type,time_of_day,passenger_count,delay_minutes,fare_type,payment_method,day_type
0,1,2023-10-01,Route E,Bus,Morning Rush,39.0,0.0,Student,Card,Weekday
1,2,2023-03-06,Route E,Bus,Evening Rush,23.0,0.0,Child,Mobile App,Weekend
2,3,2023-12-09,Route A,Train,Morning Rush,26.0,NaN,Adult,Card,Weekend
3,4,2023-10-20,Route D,Bus,Midday,26.0,3.0,Adult,Cash,Weekday
4,5,2023-10-15,Route A,Bus,Morning Rush,33.0,12.0,Student,Card,Weekend

2. Explore Data Structure and Types
---

In [49]:
#what type of data are we expecting? 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   trip_id          1300 non-null   int64
 1   date             1300 non-null   object
 2   route            1300 non-null   object
 3   vehicle_type     1300 non-null   object
 4   time_of_day      1300 non-null   object
 5   passenger_count  1237 non-null   float64
 6   delay_minutes    1251 non-null   float64
 7   fare_type        1300 non-null   object
 8   payment_method   1300 non-null   object
 9   day_type         1300 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 101.7+ KB

3. Identify data quality issues

In [50]:
#Brief overview of the data at hand
df.describe()

           trip_id  passenger_count  delay_minutes
count  1300.000000      1237.000000    1251.000000
mean    650.500000        30.133387       2.549161
std     375.421985         5.491755       2.997296
min       1.000000        15.000000       0.000000
25%     325.750000        26.000000       0.000000
50%     650.500000        30.000000       2.000000
75%     975.250000        34.000000       4.000000
max    1300.000000        49.000000      19.000000

In [51]:
#dimensions of the CSV
df.shape

(1300, 10)

In [52]:
#sum number of null data for all columns
df.isnull().sum()

trip_id             0
date                0
route               0
vehicle_type        0
time_of_day         0
passenger_count    63
delay_minutes      49
fare_type           0
payment_method      0
day_type            0
dtype: int64

In [53]:
for column in df.columns:
    missing = df[column].isna().sum() / df.shape[0]
    print(f"{column:{15}}: -> {missing * 100:.2f}%")

trip_id        : -> 0.00%
date           : -> 0.00%
route          : -> 0.00%
vehicle_type   : -> 0.00%
time_of_day    : -> 0.00%
passenger_count: -> 4.85%
delay_minutes  : -> 3.77%
fare_type      : -> 0.00%
payment_method : -> 0.00%
day_type       : -> 0.00%

That data contains entries with missing data
3.77% of entered delays in minutes are missing from the data.
4.85% of entered passenger count is missing from data

4. Documented findings:
---

In [ ]:
#List all unqiue values in data (This helped us identify inconsistenties and missing values)
for column in df.columns:
    print(f"{column:{15}}: {df[column].unique()}")

trip_id        : [   1    2    3 ... 1298 1299 1300]
date           : ['2023-10-01' '2023-03-06' '2023-12-09' '2023-10-20' '2023-10-15'
 '2023-02-23' '2023-10-31' '2023-07-03' '2023-04-21' '2023-07-27'
 '2023-05-03' '2023-02-07' '2023-11-05' '2023-03-04' '2023-01-01'
 '2023-09-14' '2023-12-19' '2023-05-18' '2023-01-06' '2023-12-31'
 '2023-06-01' '2023-09-22' '2023-06-10' '2023-01-15' '2023-12-12'
 '2023-01-10' '2023-05-26' '2023-01-26' '2023-09-17' '2023-06-18'
 '2023-08-23' '2023-07-19' '2023-12-11' '2023-08-27' '2023-05-13'
 '2023-01-04' '2023-12-29' '2023-01-08' '2023-01-02' '2023-09-01'
 '2023-10-13' '2023-05-15' '2023-10-27' '2023-04-28' '2023-09-20'
 '2023-04-10' '2023-08-28' '2023-03-05' '2023-02-27' '2023-11-13'
 '2023-03-11' '2023-03-31' '2023-10-14' '2023-07-09' '2023-06-17'
 '2023-04-14' '2023-03-07' '2023-04-19' '2023-02-21' '2023-11-14'
 '2023-12-27' '2023-09-10' '2023-10-21' '2023-12-16' '2023-05-05'
 '2023-02-22' '2023-08-07' '2023-02-26' '2023-10-16' '2023-03-27'
 '2023-10-22' '2023-06-23' '2023-04-20' '2023-07-26' '2023-08-15'
 '2023-05-30' '2023-12-08' '2023-03-08' '2023-06-30' '2023-08-31'
 '2023-10-19' '2023-12-07' '2023-06-25' '2023-04-23' '2023-03-12'
 '2023-05-10' '2023-04-26' '2023-02-15' '2023-07-06' '2023-11-28'
 '2023-10-05' '2023-04-15' '2023-01-21' '2023-11-01' '2023-04-02'
 '2023-09-16' '2023-07-16' '2023-05-08' '2023-07-02' '2023-03-10'
 '2023-11-25' '2023-05-06' '2023-08-04' '2023-09-03' '2023-04-29'
 '2023-09-12' '2023-07-25' '2023-02-20' '2023-01-27' '2023-03-28'
 '2023-04-12' '2023-11-20' '2023-05-12' '2023-01-13' '2023-06-09'
 '2023-03-01' '2023-08-29' '2023-01-18' '2023-09-21' '2023-10-11'
 '2023-07-29' '2023-09-11' '2023-05-23' '2023-04-03' '2023-05-01'
 '2023-10-04' '2023-06-14' '2023-01-29' '2023-06-08' '2023-02-08'
 '2023-05-07' '2023-06-16' '2023-09-28' '2023-11-08' '2023-10-08'
 '2023-07-07' '2023-02-16' '2023-12-03' '2023-09-18' '2023-10-23'
 '2023-10-10' '2023-12-01' '2023-11-12' '2023-03-19' '2023-03-20'
 '2023-06-21' '2023-01-22' '2023-05-29' '2023-11-09' '2023-04-27'
 '2023-10-28' '2023-06-24' '2023-08-03' '2023-02-25' '2023-10-17'
 '2023-06-06' '2023-04-11' '2023-06-12' '2023-03-09' '2023-09-09'
 '2023-09-06' '2023-01-16' '2023-11-30' '2023-05-28' '2023-10-02'
 '2023-11-06' '2023-06-27' '2023-12-25' '2023-11-07' '2023-03-17'
 '2023-06-13' '2023-08-12' '2023-07-14' '2023-04-08' '2023-04-05'
 '2023-08-01' '2023-04-18' '2023-06-11' '2023-10-24' '2023-04-06'
 '2023-07-04' '2023-01-12' '2023-03-15' '2023-10-25' '2023-08-14'
 '2023-03-26' '2023-12-04' '2023-10-12' '2023-10-03' '2023-08-19'
 '2023-11-22' '2023-01-05' '2023-07-17' '2023-01-03' '2023-05-21'
 '2023-01-31' '2023-07-05' '2023-07-15' '2023-09-26' '2023-05-09'
 '2023-03-25' '2023-01-28' '2023-12-26' '2023-09-02' '2023-02-11'
 '2023-06-22' '2023-02-13' '2023-02-06' '2023-03-13' '2023-11-16'
 '2023-09-05' '2023-05-04' '2023-07-30' '2023-08-16' '2023-04-24'
 '2023-02-03' '2023-04-09' '2023-11-15' '2023-04-04' '2023-08-02'
 '2023-06-05' '2023-07-13' '2023-08-20' '2023-02-01' '2023-08-21'
 '2023-03-21' '2023-07-11' '2023-09-13' '2023-01-14' '2023-08-11'
 '2023-11-26' '2023-04-01' '2023-09-07' '2023-07-01' '2023-12-10'
 '2023-12-13' '2023-11-11' '2023-01-09' '2023-12-20' '2023-08-06'
 '2023-09-19' '2023-05-02' '2023-05-27' '2023-03-03' '2023-10-29'
 '2023-08-26' '2023-09-23' '2023-04-13' '2023-12-15' '2023-08-30'
 '2023-09-25' '2023-11-21' '2023-03-02' '2023-09-27' '2023-12-02'
 '2023-10-07' '2023-05-17' '2023-02-28' '2023-11-24' '2023-06-15'
 '2023-02-17' '2023-11-10' '2023-07-23' '2023-11-03' '2023-08-08'
 '2023-05-31' '2023-08-18' '2023-12-23' '2023-05-11' '2023-03-16'
 '2023-10-30' '2023-12-14' '2023-07-21' '2023-11-18' '2023-02-12'
 '2023-03-24' '2023-09-29' '2023-02-19' '2023-05-25' '2023-04-22'
 '2023-02-24' '2023-08-05' '2023-08-25' '2023-01-24' '2023-05-22'
 '2023-02-09' '2023-04-16' '2023-12-30' '2023-01-23' '2023-12-21'
 '2023-06-29' '2023-01-17' '2023-10-26' '2023-07-24' '2023-08-24'
 '2023-10-18' '2023-11-17' '2023-10-09' '2023-02-05' '2023-06-02'
 '2023-01-07' '2023-12-17' '2023-06-26' '2023-09-15' '2023-08-10'
 '2023-01-11' '2023-01-25' '2023-04-25' '2023-07-08' '2023-12-28'
 '2023-05-16' '2023-03-22' '2023-11-27' '2023-07-20' '2023-12-05'
 '2023-12-24' '2023-06-03' '2023-12-06' '2023-08-22' '2023-06-19'
 '2023-04-17' '2023-04-07' '2023-09-04' '2023-05-24' '2023-05-19'
 '2023-12-18' '2023-03-29' '2023-02-04' '2023-07-22' '2023-11-29'
 '2023-01-20' '2023-02-18' '2023-09-24' '2023-06-28' '2023-11-23'
 '2023-10-06' '2023-07-18' '2023-09-30' '2023-11-02' '2023-09-08'
 '2023-03-23' '2023-05-20' '2023-03-18' '2023-06-04' '2023-03-30'
 '2023-11-19' '2023-06-20' '2023-04-30' '2023-07-10' '2023-03-14'
 '2023-07-12' '2023-05-14' '2023-02-14']
route          : ['Route E' 'Route A' 'Route D' 'Route C' 'Route B']
vehicle_type   : ['Bus' 'Train' 'Tram']
time_of_day    : ['Morning Rush' 'Evening Rush' 'Midday' 'Night']
passenger_count: [39. 23. 26. 33. 24. 27. nan 29. 25. 28. 37. 31. 44. 32. 19. 22. 35. 34.
 36. 40. 30. 38. 48. 46. 21. 18. 41. 45. 42. 15. 20. 17. 43. 47. 16. 49.]
delay_minutes  : [ 0. nan  3. 12.  1.  5.  4.  2.  7.  6. 10. 16.  8. 13. 15. 19. 11.  9.
 17. 14.]
fare_type      : ['Student' 'Child' 'Adult' 'Senior']
payment_method : ['Card' 'Mobile App' 'Cash']
day_type       : ['Weekday' 'Weekend']

In [55]:
#account number of each fare type
df['fare_type'].value_counts()

fare_type
Adult      666
Student    295
Senior     184
Child      155
Name: count, dtype: int64

In [56]:
#account number of payment method
df['payment_method'].value_counts()

payment_method
Card          793
Mobile App    271
Cash          236
Name: count, dtype: int64

In [57]:
#account number of day_type
df['day_type'].value_counts()

day_type
Weekday    898
Weekend    402
Name: count, dtype: int64

In [58]:
#account number of vehicle types
df['vehicle_type'].value_counts()

vehicle_type
Bus      662
Train    445
Tram     193
Name: count, dtype: int64

In [59]:
#account number of route types
df['route'].value_counts()

route
Route B    276
Route E    268
Route D    259
Route A    258
Route C    239
Name: count, dtype: int64

In [ ]:
#account number of vehicle types
df['vehicle_type'].value_counts()

In [60]:
#account number of time of day
df['time_of_day'].value_counts()

time_of_day
Evening Rush    449
Morning Rush    442
Midday          292
Night           117
Name: count, dtype: int64

### From 1300 total travel route records:
- The transit data handled 1237 total passengers
- Averaging around 30 passengers per route
- 15 to 49 passengers (3.8% incomplete)
- maximum 19 minute delay (4.8% incomplete)
#### Note:


| Fare Type | # |
| ----------- | ----------- |
| Senior | 184 |
| Adult | 666 |
| Student | 295 |
| Child | 155 |

| Payment Method | # |
| ----------- | ----------- |
| Card | 793 |
| Mobile App | 271 |
| Cash | 236 |

| Day Type | # |
| ----------- | ----------- |
| Weekday | 898 |
| Weekend | 402 |

| Vehicle Type | # |
| ----------- | ----------- |
| Bus | 662 |
| Train | 445 |
| Tram | 193 |

| Routes | # |
| ----------- | ----------- |
| B | 276 |
| E | 268 | 
| D | 259 |
| A | 258 |
| C | 239 |


| Time of Day | # |
| ----------- | ----------- |
| Evening Rush | 449 |
| Morning Rush | 442
| Midday | 292 |
| Night | 117 |

# Step 3: Data Cleaning
---
By checking the number of data the data row and columns. We find that only "Passenger Count" and "Delays" contained inconsistenies. Which are only NaN values

In [ ]:
# get unfiltered shape
df.shape

(1300, 10)

In [ ]:
# .dropna() drops all entries with NaN from the table. (Removes all rows with atleast one NaN) 
dfClean = df.dropna(axis=0)

In [ ]:
#notice how a few rows have been dropped?
dfClean.shape

(1188, 10)

In [ ]:
#Create new variable holding final data. 
dfFixed = dfClean
dfFixed['date'] = pd.to_datetime(dfFixed['date']) #using pandas .to_datetime() to convert entire column into datetime object
dfFixed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1188 entries, 0 to 1299
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   trip_id          1188 non-null   int64
 1   date             1188 non-null   datetime64[ns]
 2   route            1188 non-null   object
 3   vehicle_type     1188 non-null   object
 4   time_of_day      1188 non-null   object
 5   passenger_count  1188 non-null   float64
 6   delay_minutes    1188 non-null   float64
 7   fare_type        1188 non-null   object
 8   payment_method   1188 non-null   object
 9   day_type         1188 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 102.1+ KB

C:\Users\norma\AppData\Local\Temp\ipykernel_17988\2334423170.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfFixed['date'] = pd.to_datetime(dfFixed['date'])

In [74]:
dfFixed.head()
dfFixed.shape

(1188, 10)